/* Website colors */
:root {
    --accent-text-color: #2e2f42;
    --accent-text-color-two: #4D5ae5;
    --color-of-paragraphs: #434455;
    --accent-color-three: #F4F4FD;
    --color-of-paragraphs-two: #E7E9FC;
    --color-of-button:#404BBF;
    --background-color-etc: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--accent-color-three);
    background: var(--background-color-etc);
}


/* Links */
a {
    text-decoration: none;
    color: var(--accent-text-color);
    cursor: pointer;
}
 img{
    display: block;
 }


/* Header */

/* Header Logo */
.header{

}

/* Containers*/
/* Header*/
.container {
   width: 1158px;
   margin: 0 auto;
   padding: 0 15px;
    
    
}
.container-container-header{
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    border-bottom: solid 0.5px var(--color-of-paragraphs);
}



.header-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: var(--accent-text-color-two);
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 20px;
    margin-right: 74px;
}

.header-studio {
    color: var(--accent-text-color);
}

/* Header List */

.header-nav{
   display: flex;
   align-items: center;
}

.header-list {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--accent-text-color);
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}


.header-lists {
 padding: 24px 0;
 margin: 0;
}


.header-lists:last-child{
    margin-right: 0;
}

.header-lists:hover,
.header-lists:focus {
    color: var(--color-of-button);
}

/* Header address */


.header-adress{
margin-left: auto;

}

.header-adress-c {
    text-decoration: none;
    font-style: normal;
    font-family: inherit;
    font-weight: 400;
    line-height: 24px;
    list-style: none;
    letter-spacing: 0.02cm;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
}


.header-adress-name {
   color: var(--color-of-paragraphs);
   padding-bottom: 24px;
   padding-top: 24px;
   display: block;
}



.header-adress-name:last-child {
 margin: 0;
}

.header-adress-name:hover,
.header-adress-name:focus {
    color: var(--color-of-button);
}

/*Section 1*/

.container-container-section {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: center;
}

.hero {
    background: var(--accent-text-color);
    padding-top: 188px;
    padding-bottom: 188px;
    justify-content: center;
}

.hero-title {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: var(--background-color-etc);
    text-align: center;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    width: 494px;
    align-items: center;
    
}

.hero-button {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--background-color-etc);
    background-color: var(--accent-text-color-two);
    transition-duration: 0.4s;
    list-style: none;
    border-radius: 4px;
    padding: 16px 32px;
    display: flex;
    margin-left: 495px;
    border: transparent;
    
}

.hero-button:hover,
.hero.button:focus {
    background-color: var(--color-of-button);
}

.hero-button{
    cursor: pointer;
}


/* Section 2 */
.container-container-advantages{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: center;
}

.section-title {
    font-size: 24px;
    text-decoration: none;
    color: var(--accent-text-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    
}

.section-titles {
    font-size: 24px;
    text-decoration: none;
    color: var(--accent-text-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    visibility: hidden;
}


.section-list {
    list-style: none;
    color: var(--accent-text-color);
    font-style: normal;
    font-family: inherit;
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
   
   
}
.section-items {
    margin-right: 40px;
    padding-top: 0px;
    margin-left: 40px;
    margin-right: 30px
    margin-bottom: 84px;
    margin-top: 120px;
}

.section-items:last-child {
    margin-right: 0;
}

.section-p {
    font-style: normal;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-of-paragraphs);
}

/*Section 3*/
.container-container-info{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: center;
}

.info-title {
    font-style: normal;
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--accent-text-color);
    display: flex;
   justify-content: center;
   padding-top: 37px;
   margin-bottom: 72px;
}

.card-set-info-list {
    list-style: none;
    padding: 0;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.info-lists{
    margin-bottom: 48px;
    padding-bottom: 120px;
}
/*Section 4*/
.container-container-team{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: center;
}


.team {
    background: var(--accent-color-three);
    padding-bottom: 72px;
}

.team-title {
    font-style: normal;
    font-family: inherit ;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--accent-text-color);
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 72px;

}

.card-set-team-members {
    list-style: none;
    padding: 0;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-bottom: 120px;

}

.team-name {
    font-style: normal;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: var(--accent-text-color);
    background: var(--background-color-etc);
    box-sizing: border-box;
    border: 1px solid var(--color-of-paragraphs-two);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    margin-top: 20px;
}

.team-position {
    font-style: normal;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-of-paragraphs);
    padding-left: 10px;
}

.team-mark{
    padding-left: 10px;
}
.team-tom{
    padding-left: 10px;
}
.team-camila{
    padding-left: 10px;
}
.team-daniel{
    padding-left: 10px;
}

/*Footer*/

.container-container-footer{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: center;
}


.footer{
    background: var(--accent-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}


/*Footer logo*/ 

.footer-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color:var(--accent-text-color-two);
    text-transform: uppercase;
    text-decoration: none;
}

.footer-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-of-paragraphs-two);
    text-transform: uppercase;
    text-decoration: none;

}

.footer-desc {
    font-style: normal;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-of-paragraphs-two);
    width: 264px;
    padding-top: 16px ;
    margin-left: 0;
}

/* Portfolio Page 2 */

/* Buttons */

.container-container-portfolio{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: center;
}

.portfolio-title{
    visibility: hidden;
}

.buttons-list{
   margin-left: 230px;
   margin-top: 168px;
   margin-bottom: 90px;

}

.buttons-items{
    list-style: none;
    display: inline-flex;
    justify-content: center;
    margin-left: 5px;
    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    
}

.buttons-listing {
    color: var(--accent-text-color-two);
    font-style: normal;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    transition-duration: 0.4s;
    border: 1px solid var(--color-of-paragraphs-two);
    background-color: var(--accent-color-three);
    text-decoration: none;
    padding: 12px 24px;
 
   
}

.buttons-listing:hover,
.buttons-listing:focus {
    color: var(--background-color-etc);
    background-color: var(--accent-text-color-two);
}

.buttons-listing.cursor{
    cursor: pointer;
}



/* Portfolio Section 2*/

.portfolio-title {
    font-style: normal;
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--accent-text-color);
   
}

.card-set-portfolio-list {
    list-style: none;
    padding: 0;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 120px;
}

.portfolio-name{
box-sizing: border-box;
border: 1px solid var(--color-of-paragraphs-two);
margin-top: 20px;
}

.portfolio-type {
    font-style: normal;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: var(--color-of-paragraphs);
    padding-left: 10px;
}

.portfolio-subtitle {
    font-style: normal;
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--accent-text-color);
    padding-left: 10px;
}