/* Website colors */
:root {
    --accent-text-color: #2e2f42;
    --accent-text-color-two: #4D5ae5;
    --color-of-paragraphs: #434455;
    --accent-color-three: #F4F4FD;
    --color-of-paragraphs-two: #E7E9FC;
    --color-of-button:#404BBF;
    --background-color-etc: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--accent-color-three);
    background: var(--background-color-etc);
}


/* Links */
a {
    text-decoration: none;
    color: var(--accent-text-color);
    cursor: pointer;
}
 img{
    display: block;
 }


/* Header */

/* Header Logo */
.header{
display: flex;
align-items: center;
}

/* Containers*/
/* Header*/
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    
    
}
.container-container-header{
   display: flex;
   margin: auto;
   padding-top: 0px;
   justify-content: space-between;
}





.header-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: var(--accent-text-color-two);
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 20px;
}

.header-studio {
    color: var(--accent-text-color);
}

/* Header List */

.header-nav{
   display: flex;
   align-items: center;
}

.header-list {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--accent-text-color);
    list-style: none;
    margin: 0;
    display: flex;
}

.header-lists {
 padding: 24px;
 margin: 0;
}


.header-lists:last-child{
    margin-right: 0;
}

.header-lists:hover,
.header-lists:focus {
    color: var(--color-of-button);
}

/* Header address */



.header-adress-c {
    text-decoration: none;
    font-style: normal;
    font-family: inherit;
    font-weight: 400;
    line-height: 24px;
    list-style: none;
    letter-spacing: 0.02cm;
    padding: 0;
    margin: 0;
    display: flex;
}


.header-adress-name {
   color: var(--color-of-paragraphs);
   margin-left: 12px;
   padding-bottom: 24px;
   padding-top: 24px;
   display: block;
}



.header-adress-name:last-child {
    margin-right: 0px;
}

.header-adress-name:hover,
.header-adress-name:focus {
    color: var(--color-of-button);
}

/*Section 1*/
.hero {
    background: var(--accent-text-color);
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.hero-title {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: var(--background-color-etc);
    text-align: center;
    margin-bottom: 40px;
}

.hero-button {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--background-color-etc);
    background-color: var(--accent-text-color-two);
    transition-duration: 0.4s;
    list-style: none;
    border-radius: 4px;
    padding: 16px;
    padding-left: 20px;
    margin-left: 40px;
}

.hero-button:hover,
.hero.button:focus {
    background-color: var(--color-of-button);
}

.hero-button{
    cursor: pointer;
}


/* Section 2 */

.section-title {
    font-size: 24px;
    text-decoration: none;
    color: var(--accent-text-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
}

.section-titles {
    font-size: 24px;
    text-decoration: none;
    color: var(--accent-text-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    visibility: hidden;
}


.section-list {
    list-style: none;
    color: var(--accent-text-color);
    font-style: normal;
    font-family: inherit;
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    padding: 0;
    margin: 0;
    display: flex;
   
}
.section-items {
    margin-right: 40px;
    padding-top: 0px;
}

.section-items:last-child {
    margin-right: 0;
}

.section-p {
    font-style: normal;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-of-paragraphs);
}

/*Section 3*/

.info-title {
    font-style: normal;
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--accent-text-color);
    display: flex;
   justify-content: center;
   padding-top: 37px;
   padding-bottom: 72px;
}

.card-set-info-list {
    list-style: none;
    padding: 0;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.info-lists{
    margin-bottom: 48px;
    padding-bottom: 120px;
}
/*Section 4*/

.team {
    background: var(--accent-color-three);
    padding-bottom: 72px;
}

.team-title {
    font-style: normal;
    font-family: inherit ;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--accent-text-color);
    display: flex;
    justify-content: center;
    padding-top: 120px;

}

.card-set-team-members {
    list-style: none;
    padding: 0;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-bottom: 120px;

}

.team-name {
    font-style: normal;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: var(--accent-text-color);
    background: var(--background-color-etc);
    box-sizing: border-box;
    border: 1px solid var(--color-of-paragraphs-two);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    margin-top: 20px;
}

.team-position {
    font-style: normal;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-of-paragraphs);
    padding-left: 10px;
}

.team-mark{
    padding-left: 10px;
}
.team-tom{
    padding-left: 10px;
}
.team-camila{
    padding-left: 10px;
}
.team-daniel{
    padding-left: 10px;
}

/*Footer*/


.footer-sec{
    background: var(--accent-text-color);
    width: 1129px;
    padding-top: 100px;
        padding-bottom: 100px;
}
.footer{
    display: flex;
    justify-content: center;
    margin: 0 auto;

    
}





/*Footer logo*/ 



.footer-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color:var(--accent-text-color-two);
    text-transform: uppercase;
    text-decoration: none;
}

.footer-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-of-paragraphs-two);
    text-transform: uppercase;
    text-decoration: none;

}

.footer-desc {
    font-style: normal;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-of-paragraphs-two);
    width: 264px;
    height: 72px;
}

/* Portfolio Page 2 */

/* Buttons */

.portfolio-title{
    visibility: hidden;
}

.buttons-list{
    padding-left: 310px;
    padding-top: 96px;
    padding-bottom: 90px;
}

.buttons-items{
    list-style: none;
    display: inline-flex;
    margin-left: 5px;
    
}

.buttons-listing {
    color: var(--accent-text-color-two);
    font-style: normal;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    transition-duration: 0.4s;
    border: 1px solid var(--color-of-paragraphs-two);
    background-color: var(--accent-color-three);
    text-decoration: none;
    padding: 12px 24px;
}

.buttons-listing:hover,
.buttons-listing:focus {
    color: var(--background-color-etc);
    background-color: var(--accent-text-color-two);
}

.buttons-listing.cursor{
    cursor: pointer;
}



/* Portfolio Section 2*/

.portfolio-title {
    font-style: normal;
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--accent-text-color);
   
}

.card-set-portfolio-list {
    list-style: none;
    padding: 0;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 120px;
}

.portfolio-name{
box-sizing: border-box;
border: 1px solid var(--color-of-paragraphs-two);
margin-top: 20px;
}

.portfolio-type {
    font-style: normal;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: var(--color-of-paragraphs);
    padding-left: 10px;
}

.portfolio-subtitle {
    font-style: normal;
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--accent-text-color);
    padding-left: 10px;
}